.footer__section1 {
  margin-left: 105px;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 670px) {
  .footer__section1{
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}