.catalog-product__link {
  margin: 0;
  margin-left: 36px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #3257A4;
  font-family: Geometria;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}